################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WdlEventBus/bin/Debug
/WdlEventBus/bin/Release
/WdlEventBus/obj
/.vs
