<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="false">
	<targets>
		<!--控制台输出-->
		<target name="Console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate} => ${pad:padding=5:inner=${level:uppercase=false}}:${message}${newLine}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<target name="Trace" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Trace.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />

		<target name="Debug" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Debug.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />

		<target name="Info" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Info.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />

		<target name="Warn" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Warn.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />

		<target name="Error" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Error.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />

		<!--错误-->
		<target name="Fatal" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Fatal.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />


		<target name="DataBase" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_DataBase.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
		<target name="Param" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Param.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
		<target name="CameraVisual" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_CameraVisual.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
		<target name="DrMark" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_DrMark.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
		<target name="PLC" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_PLC.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
		<target name="PlcData" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_PlcData.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
		<target name="Laser" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Laser.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
		<target name="PowerMeter" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_PowerMeter.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
		<target name="Electrical" xsi:type="File" fileName="${basedir}/logger/${date:format=yyyyMMdd}_Electrical.txt"
			archiveAboveSize="314572800"
			maxArchiveDays="15"
			layout="${message}${newLine}${exception:format=tostring}" />
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Info" writeTo="Console" />-->
		<logger name="Trace" minlevel="Trace" writeTo="Trace" final="true" />
		<logger name="Debug" minlevel="Debug" writeTo="Debug" final="true" />
		<logger name="Info" minlevel="Info" writeTo="Info" final="true" />
		<logger name="Warn" minlevel="Warn" writeTo="Warn" final="true" />
		<logger name="Error" minlevel="Error" writeTo="Error" final="true" />
		<logger name="Fatal" minlevel="Fatal" writeTo="Fatal" final="true" />

		<logger name="Param" minlevel="Trace" writeTo="Param" final="true" />
		<logger name="DataBase" minlevel="Trace" writeTo="DataBase" final="true" />
		<logger name="CameraVisual" minlevel="Trace" writeTo="CameraVisual" final="true" />
		<logger name="DrMark" minlevel="Trace" writeTo="DrMark" final="true" />
		<logger name="PLC" minlevel="Trace" writeTo="PLC" final="true" />
		<logger name="PlcData" minlevel="Trace" writeTo="PlcData" final="true" />
		<logger name="Laser" minlevel="Trace" writeTo="Laser" final="true" />
		<logger name="PowerMeter" minlevel="Trace" writeTo="PowerMeter" final="true" />
		<logger name="Electrical" minlevel="Trace" writeTo="Electrical" final="true" />
		
	</rules>
</nlog>